.tytle {

    font-size: 60px;
    text-align: center;
    color: #fd1a1a;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000, 0 2px 0 #000,
        0 -2px 0 #000;
 
}
.tytle2 {

    font-size: 160px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000, 0 2px 0 #000,
        0 -2px 0 #000;
 
}

nav a{
    font-size: 30px;
}
.invite{
font-size: 40px;
padding-top: 50px;
text-align: center;
text-shadow:
        2px 2px 0 #fff,
        -2px 2px 0 #fff,
        2px -2px 0 #fff,
        -2px -2px 0 #fff,
        2px 0 0 #fff,
        -2px 0 0 #fff, 0 2px 0 #fff,
        0 -2px 0 #fff;
}
.center_img {
    display: block;
    margin: 0 auto;

}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    /* 背景色を白に設定し、少し透過 */
    margin-bottom: 60px;
    padding: 10px 0;
    position: fixed;
    /* ナビゲーションバーを画面上部に固定 */
    width: 100%;
    /* 固定した場合は幅を100%に設定して、画面全体に広がるように */
    top: 0;
    /* 画面の上部に配置 */
    z-index: 10;
    /* 背景画像より前面に表示 */
}

.content {
    padding-top: 80px;
    /* ナビゲーションバーの高さ分だけコンテンツを下げる */
}

nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

nav li {
    display: table-cell;
    min-width: 50px;
}

nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
}

nav li.current {
    border-bottom: 3px solid #92D050;
}

nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #F0E475;
}

nav li.current {
    border-bottom: 3px solid #92D050;
    color: #92D050;
}

nav li.current a {
    color: #92D050;
}

/*ここまでがナビゲーションバー*/

.content2 {
    display: flex;           /* フレックスボックスに設定 */
    justify-content: center; /* コンテンツを中央揃えにする */
    gap: 20px;      
    margin-top: 10px;         /* 各ボックスの間にスペースを追加 */
}

.box_switch {
    background-color: rgba(248, 244, 244, 1);
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 550px;            /* 各ボックスの幅を固定 */
    transition: background-color 0.3s ease; /* 背景色の変更にアニメーションを追加 */
}

.box_switch:hover {
    background-color: greenyellow; /* マウスオーバー時に背景を暗く */
}
.disabled-link {
    color: #cccccc; /* 色を薄くする */
    pointer-events: none; /* クリックできないようにする */
    text-decoration: none; /* アンダーラインを削除する */
}


.box_switch h3{
font-size: 50px;
}
.box_switch p{
    font-size:25px;
    
}
a {
    text-decoration: none; /* アンダーバーを消す */
    color: inherit; /* リンクの色を変えず、親要素の色を継承する */
}

a:hover {
    color: inherit; /* ホバー時の色を親要素と同じにする */
}

a:visited {
    color: inherit; /* 訪問後のリンクの色を親要素と同じにする */
}
.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #00F;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* murase.blade.phpで使用 */

.red-band {
    background-color: rgb(255, 72, 72);
    /* color: white; テキストが見やすくなるように色を白に変更 */
    padding: 3px; /* パディングで帯の幅を調整 */
    /* box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.8),*/ /* 下側の影 */
    /*            0 -2px 3px -1px rgba(0, 0, 0, 0.8);*/ /* 上側の影 */
    border-top: 2px solid black; /* 上部の黒い縁 */
    border-bottom: 2px solid black; /* 下部の黒い縁 */

}

scheduleAndPicture {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;     /* 垂直方向の中央揃え */
    height: 50vh;           /* コンテナの高さを画面全体に設定 */
}
.scheduleAndPicture_item {
    flex: 1; /* 各要素が親要素の幅を等しく分割 */
    padding: 10px;
    box-sizing: border-box; /* パディングを含めて幅を計算 */
    text-align: center;
} */

