.tytle {
    /* background-color: #F5F0E6; */
    font-size: 40px;
    padding-top: 60px;
    text-align: center;
    /* color: #fd1a1a; */
    color: #C2A366;
    /* text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000, 0 2px 0 #000,
        0 -2px 0 #000; */
 
}
.tytle2 {

    font-size: 90px;
    padding-top: 40px;
    text-align: center;
    color: #F5EFE6;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000, 0 2px 0 #000,
        0 -2px 0 #000;
 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

nav a{
    font-size: 30px;
}
.invite{
font-size: 40px;
padding-top: 0px;
text-align: center;
color: #C2A366;
text-shadow:
2px 2px 0 #000,
-2px 2px 0 #000,
2px -2px 0 #000,
-2px -2px 0 #000,
2px 0 0 #000,
-2px 0 0 #000, 0 2px 0 #000,
0 -2px 0 #000;
}
.invite2{
    font-size: 40px;
    padding-top: 0px;
    text-align: center;
    color: #C2A366;
    text-shadow:
    2px 2px 0 #F5F0E6,
    -2px 2px 0 #F5F0E6,
    2px -2px 0 #F5F0E6,
    -2px -2px 0 #F5F0E6,
    2px 0 0 #F5F0E6,
    -2px 0 0 #F5F0E6, 0 2px 0 #F5F0E6,
    0 -2px 0 #F5F0E6;
    }
.invite_top{
    font-size: 40px;
    padding-top: 0px;
    text-align: center;
    color: white;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        2px 0 0 #000,
        -2px 0 0 #000, 0 2px 0 #000,
        0 -2px 0 #000;
    }
.center_img {
    display: block;
    margin: 0 auto;

}

nav {
    /* background-color: rgba(10, 240, 248, 0.8); */
    background-color:  #C2A366;
    /* 背景色を白に設定し、少し透過 */
    
    margin-bottom: 60px;
    padding: 10px 0;
    position: fixed;
    /* ナビゲーションバーを画面上部に固定 */
    width: 100%;
    /* 固定した場合は幅を100%に設定して、画面全体に広がるように */
    top: 0;
    /* 画面の上部に配置 */
    z-index: 1000;
    /* 背景画像より前面に表示 */
}

.page {
    padding: 0; /* 余白をなくす */
    margin: 0; /* 余白をなくす */

}

.content {
    padding-top: 0px;
    background-color: white; /* 背景を白に設定 */
    margin: 0 auto; /* 中央揃え */
    display: inline-block; /* 幅を必要なだけに制限 */
    width: 80%; /* 内容の幅を設定 */
    max-width: 1200px; /* 最大幅を設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 影を追加 */
}

nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

nav li {
    display: table-cell;
    min-width: 50px;
}
nav a {
    display: block;
    width: 100%;
    text-decoration: none; 
    color: #ffffff;
    padding-bottom: 5px;
}

/* nav li.current {
    border-bottom: 3px solid #000000;
} */

nav li:hover {
    color: #000000;
    border-bottom: 3px solid #000000; 
}

nav li.current a {
    color:  #E6ECF5;
}

/*ここまでがナビゲーションバー*/
.content2 {
    display: flex;
    justify-content: space-between; /* 子要素の間隔を均等にする */
    gap: 20px; /* 各ボックス間の隙間を設定 */
}
.box_switch {
    background: rgba(249, 249, 249, 0.7); /* 背景色を透過させる */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 25%;
    font-weight: bold;
}


.box_switch h3 {
    font-size: 40px;
    color: #A37E47;
    margin-bottom: 15px;
    text-shadow:
2px 2px 0 #F8F8F8,
-2px 2px 0 #F8F8F8,
2px -2px 0 #F8F8F8,
-2px -2px 0 #F8F8F8,
2px 0 0 #F8F8F8,
-2px 0 0 #F8F8F8, 0 2px 0 #F8F8F8,
0 -2px 0 #F8F8F8;
    
}

.box_switch p {
    font-size: 20px;
    color: #555;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow:
        1px 1px 2px #F8F8F8,   /* 影の広がりを小さく */
        0 0 1px #F8F8F8;
}

.box_switch:hover {
    transform: scale(1.05);
    background: rgba(249, 249, 249, 0.9); /* 背景色を透過させる */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.disabled-link {
    color: #cccccc; /* 色を薄くする */
    pointer-events: none; /* クリックできないようにする */
    text-decoration: none; /* アンダーラインを削除する */
    font-size: 16px;
}
a {
    text-decoration: none; /* アンダーバーを消す */
    color: inherit; /* リンクの色を変えず、親要素の色を継承する */
}

a:hover {
    color: inherit; /* ホバー時の色を親要素と同じにする */
}

a:visited {
    color: inherit; /* 訪問後のリンクの色を親要素と同じにする */
}
.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #00F;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
  #tooltip {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 30px;
    z-index: 10;
}


.left-align {
    text-align: left; /* 左揃えに設定 */
    margin: 0 auto;   /* 中央のコンテナ内に配置するためのマージン設定 */
    width: 100%;      /* コンテンツを全幅に広げる */
}
.right-align {
    text-align: right; /* 左揃えに設定 */
    margin: 0 auto;   /* 中央のコンテナ内に配置するためのマージン設定 */
    width: 100%;      /* コンテンツを全幅に広げる */
}
.button-container {
    text-align: center; /* コンテナ内で中央揃え */
    margin-top: 20px; /* 上下の余白を追加 */
    color: #F5EFE6;
    margin-bottom: 30px;
}
.notification-body {
    text-align: left; /* テキストを左揃え */
    font-size: 1.3em; /* フォントサイズを大きくする */
    line-height: 1.5; /* 行間を調整して読みやすくする */
    margin-top: 20px; /* 上部にマージンを追加して改行を確保 */
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 0 100px; /* 左右のパディングを追加 */
    background-color: #f4f4f4;
}
.container .body {
    font-size: 20px; /* 本文用のフォントサイズ */
}
/* 全体のリンクのスタイル */

a.notirink {
    color: #000000; /* デフォルトのリンクの色 */
    text-decoration: none; /* デフォルトで下線なし */
    font-size: 16px; /* フォントサイズを設定 */
}

/* マウスオーバー時のリンクのスタイル */
a.notirink:hover {
    color: #0056b3; 
    text-decoration: underline;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: #A37E47;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
}

.btn span {
    position: relative;
}

.btn span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 10px; /* 下線の位置を少し高く */
    left: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
}


.btn:hover span::after {
    width: 100%;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
    position: relative; /* この要素を基準にボタンを配置 */
}

.slide-image {
    width: 30%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 24px;
    z-index: 10;
}

.prev {
    top:210px;
    left: 550px; /* オブジェクトの左からの相対位置 */
}

.next {
    top:210px;
    right: 550px; /* オブジェクトの右からの相対位置 */
}

/* ここからむら瀬ページ（使用していないものもある） */
.map-band {
    /* background-color: rgb(255, 146, 146); */
    background-color: #C2A366;
    /* color: white; テキストが見やすくなるように色を白に変更 */
    padding: 3px; /* パディングで帯の幅を調整 */
    /* box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.8),*/ /* 下側の影 */
    /*            0 -2px 3px -1px rgba(0, 0, 0, 0.8);*/ /* 上側の影 */
    /* border-top: 2px solid black; 上部の黒い縁 */
    /* border-bottom: 2px solid black; */ /* 下部の黒い縁 */
}
.map-bar {
    /* background-color: rgb(255, 146, 146); */
    background-color: #C2A366;
    padding: 1px;
}
.scheduleAndPicture {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;     /* 垂直方向の中央揃え */
    height: 50vh;           /* コンテナの高さを画面全体に設定 */
}
.scheduleAndPicture_item {
    flex: 1; /* 各要素が親要素の幅を等しく分割 */
    padding: 10px;
    box-sizing: border-box; /* パディングを含めて幅を計算 */
    text-align: center;
} 
.schedule{
    background-color: #F8F8F8; /* 背景色 */
    padding: 20px; /* 内側の余白 */
    border: 1px solid #ccc; /* 枠線 */
    text-align: center; /* 文字を中央揃え */
    font-size: 16px; /* 文字サイズ */
    color: #333; /* 文字色（必要に応じて変更） */
    width: 200px; /* 幅 */
    margin: 0 auto; /* 中央に配置 */  
}
.menu-box {
    border: 0.3px solid #dbdada; /* ボックスの枠線 */
    padding: 20px; /* ボックス内の余白 */
    margin: 20px auto; /* ボックスの外側の余白（上下20px、左右自動で中央揃え） */
    width: 23%; /* ボックスの幅 */
    background-color: #f9f9f9; /* ボックスの背景色 */
}

.custom-button {
    display: inline-block; /* インラインブロック要素にする */
    background-color: #F5F0E6; /* 背景色 */
    color: white; /* テキストの色 */
    padding: 15px 32px; /* パディング（リンクの内側の余白） */
    text-align: center; /* テキストを中央揃え */
    text-decoration: none; /* テキストの下線を削除 */
    font-size: 16px; /* フォントサイズ */
    margin: 4px 2px; /* 外側の余白 */
    cursor: pointer; /* カーソルをポインターにする */
    /* border: none; */ /* ボーダーを削除 */
    border-radius: 4px; /* ボタンの角を丸くする */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 影を追加 */
    transition: box-shadow 0.3s ease; /* 影のトランジション効果 */
}

.custom-button:hover {
    background-color: #F5F0E6; /* ホバー時の背景色 */
    color: black; /* マウスオーバー時のテキストの色を保持 */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* ホバー時の影を強調 */
    text-decoration: none; /* テキストの下線を削除 */
}


/* ここまでむら瀬ページ */


.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 1;
    list-style-type: none;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    padding: 10px 15px;
    color: black;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
}